include license.md
include readme.md
include requirements.txt
include dev-requirements.txt
include apt-requirements.txt

recursive-include scripts/*

recursive-exclude * *.pyc
recursive-exclude * *.py~
