#cam {
    background: #f2f2f2;
}

body {
    padding-top: 15px;
}

input[type="range"].horizontal {
width: 100%;
}

input[type="range"].vertical {
width: 100%;
height: 100%;
-webkit-appearance: slider-vertical;
}

ul {
    list-style: none;
}

/* Foundation overrides */
.tabs .tab-title.active a {
background: #333;
color: white;
}

.bend {
width: 58%;
height: 20px;
border: 4px solid #e3ddd8;
border-top-width: 0px;
border-left-width: 0px;
border-bottom-right-radius: 15px;
margin-top: -6px;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}

.scroll-table {
    max-height: 360px;
    overflow-y: scroll;
}

.message {
    color: #fff;
}

.danger {
    color: #f00!important;
}

.warning {
    color: #f60!important;
}

.close {
float: right;
background: #eee;
width: 27px;
color: red;
text-align: center;
}

.close:after {
    content: "\d7";
}

.led {
	width: 8px;
	height: 8px;
    display: inline-block;
 	border-radius: 4px;
	-webkit-transition: background-color 350ms, box-shadow 700ms;
 	transition: background-color 350ms, box-shadow 700ms;
}

.led.red {
	background-color: rgb(226,0,0);
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(226,0,0,0.5);
}

.led.green {
	box-shadow: inset 0px 1px 0px 0px rgba(250,250,250,0.5), 0px 0px 3px 2px rgba(135,187,83,0.5);
	background-color: rgb(135,187,83);
}
