*.class

# Eclipse #
*.tree
*.index
*.prefs
*.pydevproject
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.metadata/
.metadate/*
.metadate/**/*
.metadate/**/**/**/*
.loadpath

*
!*/
!.gitignore
!layout.css

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
