{% extends "layout/layout.html" %}

{% block title %}Browsable Api{% endblock %}

{% block content %}

<h1>Browsable Api</h1>
<!--p class="lead"></p-->
<hr>

<div class="row">
    <div class="col-xs-12">

        <ul class="list-group">
            {% for endpoint in endpoints %}
            <li class="list-group-item">
                <h3 class="list-group-item-heading">{{ endpoint.title }}</h3>
                <p class="list-group-item-text">
                    {{ endpoint.endpoint }}
                    <a href="{{ endpoint.url }}">{{ endpoint.url }}</a>
                </p>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}
