{% extends "layout/layout.html" %}

{% block title %}Chat{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse">
    <div class="container">
    <form class="navbar-form">
        <div class="row">

            <div class="col-xs-6">
                <div class="col-xs-12 input-group">
                    <input type="text" class="form-control js-speech-text" placeholder="Text to speech"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="say">
                            <i class="fa fa-bullhorn"></i>
                            <span class="hidden-xs">Say</span>
                        </button>
                    </span>
                </div>
            </div>

            <div class="col-xs-6">
                <!-- Hand writing input has been disabled pending updates to the robot's api. -->
                <div class="col-xs-12 input-group">
                    <input type="text" class="form-control" placeholder="Text to handwriting" disabled/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="write" disabled>
                            <i class="fa fa-pencil"></i>
                            <span class="hidden-xs">Write</span>
                        </button>
                    </span>
                </div>
            </div>

        </div>
    </form>
    </div>
</nav>

<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="well chat-log"></div>
        <br/>
        <div class="input-group">
            <input class="form-control chat-input" placeholder="Type something to begin" autofocus/>
            <span class="input-group-addon"><i class="fa fa-comment"></i></span>
        </div>
    </div>
</div>
{% endblock %}
