{% extends "layout/layout.html" %}

{% block title %}Chat{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse">
    <form class="navbar-form navbar-left">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Text to speech"/>
            <span class="input-group-btn">
                <button class="btn btn-default" id="say">
                    <i class="fa fa-bullhorn"></i>
                    <span class="hidden-xs">Say</span>
                </button>
            </span>
        </div>

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Text to handwriting"/>
            <span class="input-group-btn">
                <button class="btn btn-default" id="write">
                    <i class="fa fa-pencil"></i>
                    <span class="hidden-xs">Write</span>
                </button>
            </span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="key" placeholder="Key"/>
            <input type="text" class="form-control" id="value" placeholder="Value"/>
            <button id="post" class="btn btn-default">Post</button>
        </div>
    </form>
</nav>

<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        <div class="well chat-log"></div>
        <br/>
        <div class="input-group">
            <input class="form-control chat-input" placeholder="Type something to begin" autofocus/>
            <span class="input-group-addon"><i class="fa fa-comment"></i></span>
        </div>
    </div>
</div>
{% endblock %}
