<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interface</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/salvius.css"></link>
</head>

<body>

    <div class="panel shutdown hide">
        <h2 class="danger">Emergency shutdown</h2>
        <button class="js-terminate">Confirm</button>
        <button class="js-dismiss">Cancel</button>
        <p class="warning">WARNING: This operation will deactivate all systems on the robot.</p>
    </div>

    <div class="panel warnings hide">
        <h2>Warnings</h2>
        <button class="js-dismiss-all">Dismiss all</button>
        <ul class="error-list"></ul>
    </div>
    
    <div class="columns">&nbsp;</div>

    <div class="large-3 columns">
        <div class="row collapse">
            <div class="small-9 columns">
                <input type="text" placeholder="Text to speech"/>
            </div>
            <div class="small-3 columns">
                <button id="say" class="button prefix">Say</button>
            </div>
        </div>
        <div class="row collapse">
            <div class="small-9 columns">
                <input type="text" placeholder="Text to handwriting"/>
            </div>
            <div class="small-3 columns">
                <button id="write" class="button prefix">Write</button>
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 columns">
                <input type="text" id="key" placeholder="Key"/>
            </div>
            <div class="small-4 columns">
                <input type="text" id="value" placeholder="Value"/>
            </div>
            <div class="small-4 columns">
                <button id="post" class="button prefix">Post</button>
            </div>
        </div>
        
        <div id="configuration" class="row collapse hide">
            <form><fieldset>
                <legend>Configuration</legend>

                <label>Camera IP
                <div class="row collapse">
                    <div class="small-2 columns">
                        <span class="prefix">http://</span>
                    </div>
                    <div class="small-10 columns">
                        <input type="text" class="camera_ip" placeholder="0.0.0.0">
                    </div>
                </div>
                </label>
                <label>Arduino IP
                <div class="row collapse">
                    <div class="small-2 columns">
                        <span class="prefix">http://</span>
                    </div>
                    <div class="small-10 columns">
                        <input type="text" class="arduino_ip" placeholder="0.0.0.0">
                    </div>
                </div>
                </label>
            </fieldset></form>
        </div>
        
    </div>

    <div class="large-6 columns">
        <div class="row collapse">
            <nav class="top-bar" data-topbar>
                <section class="top-bar-section">
                    <ul class="left">
                        <li class="has-dropdown">
                            <a href="#">Settings</a>
                            <ul class="dropdown">
                                <li><a href="#configuration">Configuration</a></li>
                                <li><a href="http://www.routerlogin.net" target="_blank">Router Login</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="right">
                        <li>
                            <a href="#warnings">
                                <span class="warning led green"></span> Warnings
                            </a>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">Options</a>
                            <ul class="dropdown">
                                <li><a href="#shutdown">Shutdown</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
            </nav>
        </div>
        <div class="row collapse">
            <div class="large-11 columns">
                <canvas id="cam" class="small-12"/>
                <div id="txt">0</div>
            </div>
            <div class="large-1 columns" style="height: 281px;">
                <input type="range" class="js-angle-head vertical" min="-100" max="100">
            </div>
        </div>
        <div class="row collapse">
            <input type="range" class="js-rotate-head horizontal" min="-100" max="100">
        </div>
        <div class="row collapse">
            <div class="large-12 columns">
                <button class="button small-6 columns tilt-left">&#8601;</button>
                <button class="button small-6 columns tilt-right">&#8600;</button>
            </div>
        </div>
    </div>

    <div class="large-3 columns">
        <div class="row collapse">
            <input type="text" class="filter hide" placeholder="Filter available sensors"/>
        </div>
        <div class="row collapse scroll-table">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th class="center">Sensor</th>
                        <th class="center">Value</th>
                    </tr>
                </thead>
                <tbody class="sensorValues">
                </tbody>
            </table>
        </div>
    </div>

<script src="/js/jquery.js"></script>
<script src="/js/robot.js"></script>
</body>
</html>
