{% extends "layout/layout.html" %}

{% block title %}Interface{% endblock %}

{% block content %}
<div class="row">

    <div class="col-xs-6">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><b>Left arm</b></div>
                    <ul class="list-group js-arm-control-left"></ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><b>Right arm</b></div>
                    <ul class="list-group js-arm-control-right"></ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><b>Left leg</b></div>
                    <ul class="list-group js-leg-control-left"></ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center"><b>Right leg</b></div>
                    <ul class="list-group js-leg-control-right"></ul>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}
{{ super() }}
<script>
var armClassList = [".js-arm-control-left", ".js-arm-control-right"];
for (var i = 0; i < armClassList.length; i++) {
    robot.loading($(armClassList[i]));
}
$.ajax({
    type: "GET",
    url: robot.urls.api_arms
}).success(function(data) {
    robot.renderLimb(data, "arms", armClassList);
}).error(function() {
    robot.error("Unable to load arm data");
});

var legClassList = [".js-leg-control-left", ".js-leg-control-right"];
for (var i = 0; i < legClassList.length; i++) {
    robot.loading($(legClassList[i]));
}
$.ajax({
    type: "GET",
    url: robot.urls.api_legs
}).success(function(data) {
    robot.renderLimb(data, "legs", legClassList);
}).error(function() {
    robot.error("Unable to load leg data");
});
</script>
{% endblock %}
