<nav id="menu" class="menu slideout-menu">

  <section class="menu-section">
    <h3 class="menu-section-title">Robot</h3>
    <ul class="menu-section-list">
      <li><a href="#interface" data-toggle="tab"><i class="fa fa-street-view"></i> Vision</a></li>
      <li><a href="#hands" data-toggle="tab"><i class="fa fa-thumbs-up"></i> Hands</a></li>
      <li><a href="#communication" data-toggle="tab"><i class="fa fa-comments"></i> Communication</a></li>
      <li><a href="#health" data-toggle="tab"><i class="fa fa-heartbeat"></i> Health</a></li>
        <li><a href="#sensors" data-toggle="tab"><i class="fa fa-compass"></i> Sensors</a></li>
    </ul>
  </section>

  <section class="menu-section">
    <h3 class="menu-section-title">Settings</h3>
    <ul class="menu-section-list">
      <li><a class="js-toggle-mobile"><i class="fa fa-circle-o-notch"></i> Mobile</a></li>
    </ul>
  </section>

</nav>
