{% extends "layout/layout.html" %}

{% block title %}Sensors{% endblock %}

{% block content %}
<h2><i class="fa fa-compass"></i> Sensors</h2>

<div class="row">
    <div class="col-sm-12">

        <div class="input-group">
            <input type="search" class="form-control" placeholder="Filter available sensors">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Sensor</th>
                    <th class="text-center">Value</th>
                </tr>
            </thead>
            <tbody class="sensorValues">
            </tbody>
        </table>

        <div class="alert alert-warning">
            <p>No sensor devices have been registered.</p>
        </div>

    </div>
</div>
{% endblock %}
