{% extends "layout/layout.html" %}

{% block title %}Settings{% endblock %}

{% block content %}
<h2>Configuration</h2>

<div class="row">

    <div class="col-sm-8">
        <form class="js-settings-form"></form>
    </div>

    <div class="col-sm-4">
        <a class="btn btn-danger btn-block js-terminate">
            <i class="fa fa-power-off"></i>
            <span class="hidden-xs">Shutdown</span>
        </a>
        <a href="/api/" class="btn btn-default btn-block">
            <i class="fa fa-flask"></i>
            <span class="hidden-xs">API</span>
        </a>
        <a href="http://www.routerlogin.net" class="btn btn-default btn-block" target="_blank">
            <i class="fa fa-signal"></i>
            <span class="hidden-xs">Router login</span>
        </a>
        <a href="/connect/" class="btn btn-default btn-block">
            <i class="fa fa-globe"></i>
            <span class="hidden-xs">Social connect</span>
        </a>
    </div>

</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="/js/robot.settings.js"></script>
{% endblock %}
