.circle{
position:fixed;
top:50%;left:50%;
height:300px;
width:300px;
margin-top:-150px;
margin-left:-150px;
background:#AAA;
border-radius:50%;
}
.dropdown-menu{
position:absolute!important;
top:50%!important;left:50%!important;
min-height:70px!important;
min-width:100px!important;
margin-top:-320px!important;
margin-left:-50px!important;
}
.toggle{
position:absolute!important;
top:50%;left:50%;
height:20px!important;
width:220px!important;
margin-top:80px!important;
margin-left:-110px;
padding:0!important;
background:#BBB
}
.tab{
position:absolute;
top:50%;left:50%;
height:70px;
width:100px;
margin-top:-230px;
margin-left:-50px!important;
padding:0!important;
}
.tab i{font-size:50pt;margin:auto}
.camera{
position:absolute;
top:50%;left:50%;
height:180px;
width:220px;
margin-top:-100px;
margin-left:-110px;
background:#888
}
.rotate{
position:fixed;
top:50%;left:50%;
height:320px;
width:100px;
margin-top:-160px;
margin-left:-50px;
background:transparent;
}