<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <a href="/" class="btn btn-default btn-block navbar-btn">
                    <i class="fa fa-dashboard"></i>
                    <span class="hidden-xs">Controls</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="/sensors/" class="btn btn-default btn-block navbar-btn">
                    <i class="fa fa-compass"></i>
                    <span class="hidden-xs">Sensors</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="http://gunthercox.github.io/salvius.status/" class="btn btn-default btn-block navbar-btn">
                    <i class="fa fa-line-chart"></i>
                    <span class="hidden-xs">Status</span>
                </a>
            </div>
            <div class="col-xs-2">

            </div>
            <div class="col-xs-2">
                <a href="/connect/" class="btn btn-default btn-block navbar-btn">
                    <i class="fa fa-globe"></i>
                    <span class="hidden-xs">Social</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="/settings/" class="btn btn-default btn-block navbar-btn">
                    <i class="fa fa-toggle-on"></i>
                    <span class="hidden-xs">Settings</span>
                </a>
            </div>
        </div>
    </div>
</nav>
