<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <a class="btn btn-default btn-block navbar-btn js-dismiss-all">
                    <i class="fa fa-warning js-warning"></i>
                    <span class="hidden-xs ">Dismiss warnings</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a class="btn btn-default btn-block navbar-btn js-listen">
                    <i class="fa fa-comment"></i>
                    <span>Listen</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a href="/chat/" class="btn btn-default btn-block navbar-btn">
                    <i class="fa fa-comments"></i>
                    <span class="hidden-xs">Chat</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a class="btn btn-default btn-block navbar-btn toggle-speech">
                    <i class="fa fa-microphone"></i>
                    <span class="hidden-xs">Speech</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a class="btn btn-default btn-block navbar-btn toggle-writing">
                    <i class="fa fa-pencil"></i>
                    <span class="hidden-xs">Write</span>
                </a>
            </div>
            <div class="col-xs-2">
                <a class="btn btn-danger btn-block navbar-btn js-terminate">
                    <i class="fa fa-power-off"></i>
                    <span class="hidden-xs">Shutdown</span>
                </a>
            </div>
        </div>
    </div>
</nav>
