<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">


    <div class="btn-group btn-group-justified">
        <div class="btn-group dropup">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <div class="fa fa-warning js-warning"></div>
                <div class="hidden-xs text-wide">Warnings</div>
            </button>
            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li><a class="js-dismiss-all">Dismiss all warnings</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <a href="/interface/" class="btn btn-default">
                <div class="fa fa-desktop"></div>
                <div class="hidden-xs text-wide">Interface</div>
            </a>
        </div>
        <div class="btn-group">
            <a href="/limbs/" class="btn btn-default">
                <div class="fa fa-code-fork fa-rotate-90"></div>
                <div class="hidden-xs text-wide">Limbs</div>
            </a>
        </div>
        <div class="btn-group">
            <a href="/chat/" class="btn btn-default">
                <div class="fa fa-comments"></div>
                <div class="hidden-xs text-wide">Chat</div>
            </a>
        </div>
        <div class="btn-group">
            <a href="/sensors/" class="btn btn-default">
                <div class="fa fa-compass"></div>
                <div class="hidden-xs text-wide">Sensors</div>
            </a>
        </div>
        <div class="btn-group">
            <a href="http://gunthercox.github.io/salvius.status/" class="btn btn-default">
                <div class="fa fa-line-chart"></div>
                <div class="hidden-xs text-wide">Status</div>
            </a>
        </div>
        <div class="btn-group">
            <a href="/configuration/" class="btn btn-default">
                <div class="fa fa-toggle-on"></div>
                <div class="hidden-xs text-wide">Settings</div>
            </a>
        </div>
        <div class="btn-group">
            <a class="btn btn-default">
                <div class="fa fa-microphone hide"></div>
                <div class="fa fa-microphone-slash"></div>
                <div class="hidden-xs text-wide">Listen</div>
            </a>
        </div>
        <div class="btn-group">
            <a class="btn btn-default js-toggle-mobile">
                <div class="fa fa-circle-o-notch"></div>
                <div class="hidden-xs text-wide">Mobile</div>
            </a>
        </div>
    </div>

        </div>
    </div>
</nav>
