<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">


    <div class="btn-group btn-group-justified">
        <div class="btn-group">
            <a href="{{ url_for('interface') }}" class="btn btn-default">
                <div class="fa fa-street-view"></div>
                <div class="hidden-xs text-wide">Vision</div>
            </a>
        </div>
        <div class="btn-group">
            <a href="{{ url_for('hands') }}" class="btn btn-default">
                <div class="fa fa-thumbs-up"></div>
                <div class="hidden-xs text-wide">Hands</div>
            </a>
        </div>
        <div class="btn-group">
            <a href="{{ url_for('communication') }}" class="btn btn-default">
                <div class="fa fa-comments"></div>
                <div class="hidden-xs text-wide">Communication</div>
            </a>
        </div>
        <div class="btn-group">
            <a href="{{ url_for('health') }}" class="btn btn-default">
                <div class="fa fa-heartbeat"></div>
                <div class="hidden-xs text-wide">Health</div>
            </a>
        </div>
        <div class="btn-group">
            <a href="{{ url_for('sensors') }}" class="btn btn-default">
                <div class="fa fa-compass"></div>
                <div class="hidden-xs text-wide">Sensors</div>
            </a>
        </div>
        <div class="btn-group">
            <a class="btn btn-default js-toggle-mobile">
                <div class="fa fa-circle-o-notch"></div>
                <div class="hidden-xs text-wide">Mobile</div>
            </a>
        </div>
    </div>

        </div>
    </div>
</nav>
